.body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

.container-lg {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.imgLogo{
    text-align: center;
    padding: 20px;
}
.imgLogo img{
    max-width: 200px;
}
.grid{
    max-width: 460px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #b80bb3;
    border-radius: 5px;
    background-color: #ffffff;
}
.grid button{
    background-color: #2197e5;
    text-align: center;
    margin: 0 auto;
}
.grid button:hover{
    background-color: #b80bb3;
    color: black;
}
.textoRegistro{
    max-width: 460px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #2197e5;
}
.textoRegistro a{
    text-decoration: none;
}
.textoRegistro h6:hover{
    color: #ffffff;
}


/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {
    .form-container {
        width: 100%;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }
}

